@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primarycolor: #fb7185;
    --cool-color: #f87171;
    --color-cool: #991b1b;
    --color-uno: #f472b6;


}

body {
    font-family: 'Lato', sans-serif;
    margin: 1px;
    background-color: #7c7c7c;
}

hr {
    margin: 2rem 0.5rem;
}


.container {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: large;
}

.container-centre {
    
    color: #ffffff;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.primary-link {
    font-size: medium;
    background-color: var(--color-cool);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.secondary-link {
    font-size: medium;
    color: rgb(8, 8, 8);
    border-radius: 0.5rem;
    border: 1px solid black;
}

.list-nobullet {
    list-style: none;
}

.list-inline {
    display: inline-block;
    padding: 1rem 0.5rem;
    align-self: center;
}







.navigation {
    background-color: var(--primarycolor);
    columns: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.nav-brand {
    color: white;
    font-weight: bold;
    font-size: x-large;
    
}


.navigation .nav-pills {
    text-align: right;
   
} 


.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
    font-size: large;
}

.hero {
    padding: 2rem;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    margin-left: 3rem;
    text-align: center;
    color: var(--color-cool);
}

.hero .hero-heading .hero-inverted {
    color: var(--cool-color)
}

.section {
    padding: 2rem;
    text-align: center;
  
    
    
}

.section h3{
    
    text-align: center;
    
}

.offw {
    background-color: var(--cool-color);
    text-align: center;
}

.footer {
    background-color: var(--primarycolor);
    padding: 2rem 1rem ;
    text-align: center;
    color: white;
    margin-top: 2rem;
    
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    
}


.footer .link {
    color: white;
    
}

.blog-heading {
    text-align: center;
    font-family: papyrus;
    text-decoration: underline;
}

.blog-style {
    font-size: large;
    font-style: oblique;
    word-spacing: 0.2cm;
    display: block;
    padding: 0.2rem 10rem 0.2rem 10rem;
}


