@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primarycolor: red;
    --cool-color: #fecaca;

}

body {
    font-family: 'Lato', sans-serif;
}

hr {
    margin: 2rem 0.5rem;
}

.container {
    padding-left: 1rem;
    padding-right: 2rem;
}

.container-centre {
    color: red;
    max-width: 200px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.primary-link {
    background-color: rgb(80, 68, 68);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}

.secondary-link {
    background-color: rgb(80, 68, 68);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
}

.list-nobullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primarycolor);
    columns: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav-brand {
    color: white;
    font-weight: bold;
}


.navigation .nav-pills {
    text-align: right;
} 


.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: red;
}

.hero .hero-heading .hero-inverted {
    color: var(--cool-color)
}